<div class="calculator-wrapper">
  <!-- If we apply the mask, floats aren't working -->
  <!-- <input type="text" #calculatorInput [(ngModel)]="currentValue" [textMask]="{mask: mask}"> -->
  <input type="text" #calculatorInput [ngModel]="currentValue" disabled>
  <div class="calculator-row" *ngFor="let buttonRow of buttonList">
    <div class="button-wrapper" [class.doubled]="button.text === '0'" *ngFor="let button of buttonRow">
      <button [ngClass]="button.type" (click)="onClick(button);" [class.active]="button.value === operationValue">{{ button.text }}</button>
    </div>
  </div>
</div>
<div class="calculator-info">
  <p>Current value: {{ currentValue }}</p>
  <p>Previous value: {{ previousValue }}</p>
  <p>Operation active: {{ operationActive }}</p>
  <p>Operation type: {{ operationValue }}</p>
</div>
<div class="calculator-history">
  <div 
    cdkDropList 
    [cdkDropListData]="resultsArray" 
    [cdkDropListConnectedTo]="secondList" 
    #firstList="cdkDropList"
    (cdkDropListDropped)="drop($event)">
    Calculation results:
    <div *ngFor="let artist of resultsArray" class="pop" cdkDrag>{{artist}}</div>
  </div>
  <div 
    cdkDropList 
    [cdkDropListData]="resultsArrayDropped" 
    [cdkDropListConnectedTo]="firstList" 
    #secondList="cdkDropList"
    (cdkDropListDropped)="drop($event)">
    Calculation saved:
    <div *ngFor="let artist of resultsArrayDropped" class="pop" cdkDrag>{{artist}}</div>
  </div>
</div>
