$calculator-width: 400px;

$button-border-radius: 50%;
$button-digit-background: grey;
$button-font-size: 30px;
$button-lighten-percentage: 30%;
$button-operation-background: orange;
$button-revert-background: lightgrey;
$button-wrapper-size: $calculator-width / 4;
$calculator-background: black;
$default-border-radius: 50px;
$default-padding: 5px;
$input-font-size: 50px;

:host {
  display: flex;
  padding: $default-padding;

  .calculator-wrapper {
    background-color: $calculator-background;
    border-radius: $default-border-radius;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: $default-padding;
    width: $calculator-width;

    input {
      background-color: inherit;
      border: none;
      border-radius: $default-border-radius;
      color: white;
      font-size: $input-font-size;
      padding: 4 * $default-padding;
      text-align: right;

      &:focus {
        outline: none;
      }
    }

    .calculator-row {
      display: flex;
      height: $button-wrapper-size;
      flex-direction: row;

      .button-wrapper {
        align-items: center;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        padding: $default-padding;
        width: $button-wrapper-size;

        &.doubled {
          width: 2 * $button-wrapper-size;

          button {
            border-radius: $default-border-radius;
            justify-content: left;
            padding-left: 7 * $default-padding;
          }
        }

        button {
          align-items: center;
          border-radius: $button-border-radius;
          border: none;
          box-sizing: border-box;
          cursor: pointer;
          display: flex;
          font-size: $button-font-size;
          height: 100%;
          justify-content: center;
          margin: 0;
          outline: none;
          padding: 0;
          width: 100%;

          &.revert {
            background-color: $button-revert-background;
            color: black;

            &:active,
            &:hover,
            &.active {
              background-color: lighten(
                $button-revert-background,
                $button-lighten-percentage
              );
            }
          }
          &.digit {
            background-color: $button-digit-background;
            color: white;
            &:active,
            &:hover,
            &.active {
              background-color: lighten(
                $button-digit-background,
                $button-lighten-percentage
              );
            }
          }
          &.operation {
            background-color: $button-operation-background;
            color: white;
            &:active,
            &:hover,
            &.active {
              background-color: lighten(
                $button-operation-background,
                $button-lighten-percentage
              );
            }
          }
        }
      }
    }
  }
  .calculator-info {
    padding: 10px;
    width: 300px;
  }
  .calculator-history {
    display: flex;
    width: 500px;

    & > div {
      flex: 1;
    }
  }
}

.pop {
  align-items: center;
  border: 1px solid $button-operation-background;
  border-radius: 4px;
  cursor: move;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 3px 0px;
  width: 100px;
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14), 
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}